<div class="page-header">
  <h2>アーティスト一覧</h2>
</div>
<!-- <div class="entry_button" style="float: right">
  <a href="/songs/search">曲名で検索する</a>
</div> -->

<div class="row">

  <% @artists.each do |artist| %>
    <li class="col-xs-6 col-md-4 outer">
      <a href="/artists/<%= artist.id %>" class="thumbnail image">
        <img src="<%= artist.image_url %>" alt="a">
      </a>
    </li>
  <% end %>
</div>
