<div class="page-header">
  <h2>アーティスト一覧</h2>
</div>
<!-- <div class="entry_button" style="float: right">
  <a href="/songs/search">曲名で検索する</a>
</div> -->

<div class="row">
  <% @artists.each do |artist| %>
    <li class="col-xs-6 col-md-4">
      <a href="/artists/<%= artist.id %>" class="thumbnail image">
        <img src="http://cdn.helloproject.com/img/rotation/a3d6a3612d48b066f405486921acefbc05067062.jpg" alt="<%= artist.name %>">
      </a>
    </li>
  <% end %>
</div>
