<div class="panel panel-default">
  <div class="panel-heading">
    <h4>コール投稿フォーム</h4>
  </div>
  <div class="panel-footer">
<%= form_for [@song, @call] do |f| %>

      <div class="form-group">
        <%= f.text_field :movie_url, placeholder: 'youtubeのurl', class: "form-control" %>
    </div>


      <div class="form-group">
  <%= f.text_area :text, placeholder: '00:09~ ヲイ！', id: 'call', class: "form-control call_text" %>
  </div>

  <%= button_tag type: "submit", class: "btn btn-primary" do %>
    投稿する!!
  <% end %>
<% end %>