  <%= render partial: "calls/callshow" %>




<div class="page-header">
  <h3>コメント一覧</h3>
</div>

    <% if @comments.present? %>
      <%= render partial: "comments/comment", collection: @comments %>
    <% else %>
      <p>このコールへのコメントはまだありません</p>
    <% end %>
<%= paginate(@comments) %>