<div class="page-header">
  <h2>検索結果</h2>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <% if params[:keyword] %>
    <div class="list-group">
      <% @songs.each do |song| %>
          <a href="/songs/<%= song.id %>" class="list-group-item"><%= song.name %></a>
      <% end %>
    </div>
    <%= paginate(@songs) %>
  <% else %>
    <div class="list-group">該当する曲はありません</div>
  <% end %>
</div>




