<%= @song.name %>のコール一覧
<% if user_signed_in? %>
  <div class="entry_button" style="float: right">
    <a href="/songs/<%= @song.id %>/calls/new">コールを投稿する</a>
  </div>
<% end %>

<% if @calls.present? %>
  <%= render partial: "calls/call", collection: @calls %>
<% else %>
  <p>まだ投稿はありません</p>
<% end %>
<%= paginate(@calls) %>