<div class="page-header">
  <h3><%= @song.name %>のコール一覧</h3>
</div>

<% if @calls.present? %>
  <%= render partial: "calls/call", collection: @calls %>
<% else %>
  <p>まだ投稿はありません</p>
<% end %>
<%= paginate(@calls) %>