
.artist_index p {
  text-align: center;
  font-size: 20px;
}

.jumbotron_width {
  width: 92%;
}


.main_contents {
  width: 88%;
}

li {
  list-style: none;
}

.panel-body {
  background-color: #5d3939;
}



.contents.row {

}

#call {
  width: 740px;
  height: 290px;
}

#comment {
  width: 1238px;
  height: 200px;
}
