.navbar-brand {
  font-size: 30px;
}


.header {
  overflow: hidden;
}

.nav.navbar-nav li a {

}

.nav.navbar-nav li a.login_user:hover {

}

.dropdown-menu li {

}

.under_header {
  margin-top: 53px;
}

.container-fluid {
  width: 92%;
  margin-left: auto; margin-right: auto;
}

.form-group .form-control {
  width: 219px;
}