.navbar-brand {
  font-size: 30px;
}


.header {
  overflow: hidden;
}


.under_header {
  margin-top: 53px;
}

.container-fluid {
  width: 96%;
}

.form-group .search-width {
  width: 220px;
}

.notice {
  text-align: center;
}

.error {
  text-align: center;
}